.sidebar__item-title {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 10px 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;


}


@media screen and (max-width: 1024px) {
  .sidebar__item-title {
    -webkit-line-clamp: 2;

  }
}
