.sidebar__input {
  width: 260px;
  color: #2F222266;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
  padding: 13px 30px;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  background: #F5F5F5;
  margin-bottom: 21px;
  width: 260px;

}