.items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-end: 2;
  grid-column-start: 1;
  /*grid-row-end: 3;
  grid-row-start: 1;
  height: 70vh; */
 row-gap: 40px;
 column-gap: 40px;
}

@media screen and (max-width: 1024px) {
  .items:nth-of-type(2) {
    display: none;

  }
}

@media screen and (max-width: 650px) {
  .items {
    grid-template-columns: 1fr;

  }
}
