.header__banner {
  background-image: url(../../../images/banerMax.png);
  background-repeat: no-repeat;
  height: 300px;
  object-fit: cover;
  object-position: center;

}

@media screen and (max-width: 1024px) {
  .header__banner {
    background-image: url(../../../images/banerMedium.png);
    height: 250px;
  }
}

@media screen and (max-width: 320px) {
  .header__banner {
    background-image: url(../../../images/banerMin.png);
    height: 150px;
  }
}