.sidebar__item {
  list-style-type:none;
   border-bottom: 1px solid #2F22221A;
   padding-bottom: 10px;
   margin-bottom: 10px;
}

.sidebar__item:nth-last-of-type(1) {
  border-bottom: none;

}

@media screen and (max-width: 1024px) {
  .sidebar__item {
    max-width: 300px;
    border-bottom: none;
  }
}