.content {
  display: grid;
  grid-template-columns: 1fr min-content;
  justify-content: center;
  max-width: 1920px;
  min-width: 320px;
  padding-left: 260px;
  padding-right: 260px;
  gap: 40px;
  padding-top: 40px;
  background: #F9F9F9;
  box-sizing: border-box;

}