.item__text {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: #2F222266;
  line-height: 1.28;

}

@media screen and (max-width: 650px) {
  .item__text {
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

  }
}